html, body {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}

* {
  font-size: 17px;
  line-height: 1.7;
}

.container-fluid {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}


#upload:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}

.form-group.row {
  margin-bottom: 1.1rem;
}

.uploadForm {
  margin-top: 1rem;
}

.loader {
  width: 100%;
  margin-top: 2rem;
}

div.radio input[type="radio"] {
  margin-right: 1rem;
}

#optionsDialogOpts .radio {
  border-bottom: solid 1px #bbb;
  padding-top: 0.3rem;
}

#optionsDialogOpts .radio:first-of-type {
  border-top: solid 1px #bbb;
}

#optionsDialogOpts .radio label {
  margin-bottom: 0;
  padding-left: 0.8rem;
  padding-bottom: 0.3rem;
}